<form class="border border-light p-5" method="post" action="/room/add">

    <div class="row">
        <div class="col-12">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control mb-4 {% if message.name is defined %}is-invalid {% endif %}" value="{{ postData.name }}" required>
            {% if  message.name is defined %}
                <div class="invalid-feedback">
                    {{ message.name }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="description">Description</label>
            <textarea id="description" class="form-control mb-4 {% if message.description is defined %}is-invalid {% endif %}" name="description" rows="4" >
                {{ postData.description }}
            </textarea>

            {% if  message.description is defined %}
                <div class="invalid-feedback">
            {{ message.description }}
        </div>
        {% endif %}
    </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="capacity">Capacity</label>
            <input type="number" id="capacity" name="capacity" class="form-control mb-4 {% if message.capacity is defined %}is-invalid {% endif %}" value="{{ postData.capacity }}" required>
            {% if  message.capacity is defined %}
                <div class="invalid-feedback">
                    {{ message.capacity }}
                </div>
            {% endif %}
        </div>

        <div class="col-md-7 offset-2">
            <label for="image">Image url</label>
            <input type="text" id="textInput" name="image" class="form-control mb-4 {% if message.image is defined %}is-invalid {% endif %}" value="{{ postData.image }}" required>
            {% if  message.image is defined %}
                <div class="invalid-feedback">
                    {{ message.image }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <button class="btn btn-deep-orange" type="submit" >Add room</button>
    </div>

</form>
