
<!-- Success message if inputs are valid (will be in another place in fine) -->
{{ success }}
<form method="post" action="/event/addEvent">
  <div class="row">
    <div class="col-sm-12">
      <div class="md-form form-lg">
        <input type="text" id="inputLGEx" class="form-control form-control-lg" name="eventName" required>
        <label for="inputLGEx">Event Name</label>
      </div>
      {{ errors.eventNameErr }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- Event Description -->
      <div class="md-form">
        <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="2" name="eventDescription"></textarea>
        <label for="textarea-char-counter">Type your event description</label>
      </div>
      <!-- Error message if 'Event Description' field is empty or not correct -->
      {{ errors.eventDescriptionErr }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <!-- User Multi-Select -->
      <label>ctrl-click to select multiple users</label>

      <select class="custom-select mdb-select" multiple id="select_users" size="5" name="user[]">
        <option disabled>Select user(s)</option>

        {% for user in users %}
          <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</option>
        {% endfor%}

      </select>
    </div>
    <div class="col-sm-5">
      <!-- Room select -->
      <label>Available Rooms</label>
      <select class="md-form colorful-select down-warning" name="eventRoom">
        <option value="" disabled selected>Choose a room</option>

        {% for room in rooms %}
          <option value="{{ room.id }}">{{ room.name }}</option>
        {% endfor %}

      </select>
    </div>
  </div>

  <div class="row">

    <!-- Start Date input -->
    <div class="col-sm-12">
      <div class="md-form input-group form-sm">
        <div class="input-group-prepend">
          <span class="input-group-text md-addon">Begin date</span>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <input type="date" id="beginDate" class="form-control" name="dateStart">
          </div>
          {{ errors.eventBeginDayErr }}
          <div class="col offset-1">
            <!-- Last name -->
            <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="Hour ex. 08:00" name="startHour" required>
            <!-- Error message if 'Begin Hour' field is empty or not correct -->
            {{ errors.eventBeginHourErr }}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <!-- End Date input -->
    <div class="col-sm-12">
      <div class="md-form input-group">
        <div class="input-group-prepend">
          <span class="input-group-text md-addon">End date</span>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <input type="date" id="beginDate" class="form-control" name="dateEnd">
          </div>
          <div class="col offset-1">
            <!-- Last name -->
            <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="Hour ex. 08:00" name="endHour" required>
            <!-- Error message if 'Begin Hour' field is empty or not correct -->
            {{ errors.eventBeginHourErr }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add 'New Event' button -->
  <div class="d-flex justify-content-around">
    <button class="btn btn-deep-orange" type="submit">Create Event</button>
  </div>
</form>
