      <form method="post" action="/event/edit/{{ event.id }}">
        <div class="row">
          <div class="col-sm-8">
            <!-- Large input for Event Name -->
            <div class="md-form form-lg">
              <input type="text" id="inputLGEx" class="form-control form-control-lg" name="eventName" value="{{ event.name }} " required disabled>
              <label for="inputLGEx">Event Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- Event Description -->
            <div class="md-form">
              <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="2" name="eventDescription" required disabled>{{ event.description }}</textarea>
              <label for="textarea-char-counter">Event description</label>
            </div>
            <!-- Error message if 'Event Description' field is empty or not correct -->
            {{ errors.eventDescriptionErr }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
          <!-- User select -->
          <div id="guestDiv{{event.id}}">
            <h4>Guest :</h4>
            <ul id="guestUl{{event.id}}">
            {% for assoc in allEvents %}
              {% if assoc.event_id == event.id %}
               <li> {{assoc.firstname}} {{assoc.lastname}} </li>
              {% endif %}  
            {% endfor %}
            </ul>
          </div> 
          </div>
          <div class="col-sm-5">
            <!-- Room select -->
            <div id="roomDiv{{event.id}}">
              <h4>Room :</h4>
              <div>
                {% for room in rooms %}
                  {% if room.id == event.room_id %}
                    <p>{{room.name}}</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Date input -->
          <div class="col-sm-8">
            <div class="md-form input-group form-sm">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon">Begin date</span>
              </div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="date" id="beginDate" class="form-control" name="dateStart" value="{{ event.date_start | date ('Y-m-d') }}" disabled>
                    </div>
                    <div class="col offset-1">
                        <!-- Last name -->
                        <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="Hour ex. 08:00" name="startHour" required value="{{ event.date_start | date ('H:i') }}" disabled>
                        <!-- Error message if 'Begin Hour' field is empty or not correct -->
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- End Date input -->
          <div class="col-sm-8">
            <div class="md-form input-group">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon">End date</span>
              </div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="date" id="endDate" class="form-control" name="dateEnd" value="{{ event.date_end | date ('Y-m-d') }}" disabled>
                    </div>
                    <div class="col offset-1">
                        <!-- Last name -->
                        <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="Hour ex. 08:00" name="endHour" required value="{{ event.date_end | date ('H:i') }}" disabled>
                        <!-- Error message if 'Begin Hour' field is empty or not correct -->
                    </div>
                </div>
            </div>
          </div>
        </div>
       {% if session.id == event.creator %}
          <div class="row justify-content-around">
            <div class="col-3">
              <button type="button" class="btn btn-light editbtn" onclick="editForm(event, {{event.id}})" id="editButton{{event.id}}">Edit</button>
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-info savebtn" style="display: none" id="saveButton{{event.id}}">Save</button>
            </div>
            <div class="col-3">
              <a id="deleteButton{{ event.id }}" href="/event/delete/{{ event.id }}" style="display: none" class="btn btn-danger">Delete</a>
            </div>
          </div>
         </div>
       {% endif %}
      </form>
