

<form class="border border-light p-5" method="POST" action="/user/edit/{{ user.id }}">

    <p class="h4 mb-4 text-center noDisplay modal-title"></p>

    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" value="{{ user.firstname }}" class="form-control mb-4">

    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" value="{{ user.lastname }}" class="form-control mb-4">

    <label for="email">E-Mail</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control mb-4">

    <label for="status">User Status</label>
    <input type="number" id="status" name="status_id" value="{{ user.status_id }}" class="form-control mb-4">

    <label  for="image">Image Link</label>
    <input  type="text"  id="image" name="image" value="{{ user.image }}" class="form-control mb-4">

    <label  for="password">Mot de passe</label>
      <input  type="password"  id="password" name="password" value="{{ user.password }}" class="form-control mb-4">

    <button class="btn btn-info my-4 btn-block" type="submit">Edit user</button>

</form>


