<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="/assets/css/mdb.min.css" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheet %}{% endblock %}
        <link rel="icon" href="/assets/images/favicon.png">
    </head>

    <body>
        {% if connected == true %}
            <nav class="navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" class="logonav"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-links" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rooms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                    {% for room in rooms %}
                        <a class="dropdown-item" href="#">{{ room.name }}</a>
                    {% endfor %}
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for user in users %}
                        <a class="dropdown-item" href="#">{{ user.firstname }} {{ user.lastname }}</a>
                    {% endfor %}
                    </div>
                  </li>
                </ul>

              </div>
              <div class="justify-content-between">
                <span>{{ session.firstname }} {{ session.lastname }}</span>
                <a class="logonav" href="../user/logout"><img src="/assets/images/logout-icon.png" class="logonav"></a>
                </div>
            </nav>
        {% endif %}
        {% block content %}{% endblock %}

        <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/assets/js/mdb.js"></script>
        {% block javascript %}{% endblock %}

    </body>
</html>


