{% extends 'layout.html.twig' %}

{% block title %}
    My Monthly Calendar
{% endblock %}

{% block content %}
    {% include '_modalEvent.html.twig' %}
    {% include '_addEventButton.html.twig' %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
            <div>
                <a href="/MonthCalendar/show" class="btn btn-warning">Month</a>
                <a href="/WeekCalendar/show" class="btn btn-warning">Week</a>
            </div>

            <h1>{{ fullDate }}</h1>
            <div>
                <a href="/MonthCalendar/show/{{ previous }}" class="btn btn-warning"><i class="fas fa-chevron-left"></i></a>
                <a href="/MonthCalendar/show/{{ next }}" class="btn btn-warning"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table calendar__table calendar__table--{{ nbWeeks +1 }}weeks">
            <thead>
            <tr class="text-center">
                {% for day in days %}
                    <th scope="col">{{ day }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% set i = 0 %}
                {% for i in i..nbWeeks %}
                    <tr>
                        {% for day in days %}
                            {% if firstMonthDayType == '1' %}
                                {% set date = firstMonthDay | date_modify("+" ~ ((i * 7) + loop.index-1) ~ "days") | date ('Y-m-d') %}
                            {% else %}
                                {% set date = firstMonday | date_modify("+" ~ ((i * 7) + loop.index-1) ~ "days") | date ('Y-m-d') %}
                            {% endif %}
                            <td>
                                <div class="text-center">
                                    {{ date | date('d') }}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
