{% extends 'layout.html.twig' %}

{% block title %}
    My Monthly Calendar
{% endblock %}

{% block content %}
    {% include '_modalEvent.html.twig' %}
    {% include '_addEventButton.html.twig' %}
    {% include '_modalRoom.html.twig' %}
    {% include '_modalUser.html.twig' %}
    {% include '_modalEditUser.html.twig' %}
    {% if message %}
        <div class="container mt-2">
            <div class="alert alert-danger">
                {% for error in message %}
                    {{ error }} <br/>
                {% endfor %}
                <button type="button" class="btn btn-warning addEventButt" data-toggle="modal" data-target="#modalEvent">
                    see your event
                </button>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
            <div class="row no-gutters">
                <a href="/Calendar/month" class="btn btn-warning weekToMonthMonth">Month</a>
                <a href="/Calendar/week" class="btn btn-warning weekToMonthMonth">Week</a>
            </div>
            <h2 class="month-title-mobile">{{ fullDate | date('m-Y') }}</h2>
            <h2 class="month-title">{{ fullDate }}</h2>
            <div>
                <a href="/Calendar/month/{{ previous }}" class="btn btn-warning weekToMonthMonth"><i class="fas fa-chevron-left"></i></a>
                <a href="/Calendar/month/{{ next }}" class="btn btn-warning weekToMonthMonth"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        </div>
        <div class="container calMobile2">
            <div class="table-striped table-responsive-xl">
                <table class="table calendar__table calendar__table--{{ nbWeeks +1 }}weeks ">
                    <thead class="screenDesktopMonth">
                        <tr class="text-center">
                        {% for day in days %}
                            <th scope="col">{{ day }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            {% for date in calendar %}
                                <td class="{% if date.1 == true %}calendar__day{% else %}calendar__othermonth{% endif %}">
                                    {{date.0.date | date('d')}}
                                    <br/>
                                    {% for event in events %}
                                        {% if date.0.date | date('Y-m-d') == event.date_start | date('Y-m-d') %}
                                            <span id="event{{ event.id }}" class="badge badge-pill badge-primary">{{ event.name }}</span>
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>

                                {% if loop.index %7==0 %}
                                </tr><tr class="text-center">
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}




