{% extends 'layout.html.twig' %}

{% block title %}
    My Weekly Calendar
{% endblock %}

{% block content %}
    {% include '_modalEvent.html.twig' %}
    {% include '_addEventButton.html.twig' %}
    {% include '_modalRoom.html.twig' %}
    {% include '_modalUser.html.twig' %}
    {% include '_modalEditUser.html.twig' %}
    {% include '_modalEditRoom.html.twig' %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-around mx-sm-3">
            <div class="row no-gutters">
                <a href="/Calendar/month" class="btn btn-warning weekToMonthWeek">Month</a>
                <a href="/Calendar/week" class="btn btn-warning weekToMonthWeek">Week</a>
            </div>
            <h2 class="week-title week-title">{{ fullDate }}</h2>
            <h2 class="week-title-mobile">{{ mobileDate }}</h2>
            <div>
                <a href="/Calendar/week/{{ previous }}" class="btn btn-warning weekToMonthWeek"><i class="fas fa-chevron-left"></i></a>
                <a href="/Calendar/week/{{ next }}" class="btn btn-warning weekToMonthWeek"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

    <div class="container calMobile">
        <div class="table-responsive-xl">
            <table class="calendarTable table table-bordered table-striped">
                <thead class="screenDesktop">
                    <tr class="text-center">
                        {% for day in daysOfWeek %}
                            <th class="everyDay" scope="col">{{ day | date('l d F')}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <thead class="screenMobile">
                    <tr class="text-center">
                        {% for day in daysOfWeek %}
                            <th scope="col" class="tableMobile">{{ day | date('D d') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for hours in calendar %}
                        <tr>
                            {% for hour in hours %}
                                <td class="tableMobile calendarTd">{{ hour | date('H:i') }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
