{% extends 'layout.html.twig' %}

{% block title %}
    My Weekly Calendar
{% endblock %}

{% block content %}
    {% include '_modalEvent.html.twig' %}
    {% include '_addEventButton.html.twig' %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-around mx-sm-3">
            <div class="row no-gutters">
                <a href="/Calendar/month" class="btn btn-warning weekToMonth">Month</a>
                <a href="/Calendar/week" class="btn btn-warning weekToMonth">Week</a>
            </div>

            <h2 class="week-title">{{ fullDate }}</h2>
            <h2 class="week-title-mobile">{{ mobileDate }}</h2>
            <div>
                <a href="/Calendar/week/{{ previous }}" class="btn btn-warning">&lt;</a>
                <a href="/Calendar/week/{{ next }}" class="btn btn-warning">&gt;</a>
            </div>
        </div>
    </div>

    <div class="container calMobile">
    <div class="table-responsive-xl">
    <table class="table table-bordered table-striped">
        <thead class="screenDesktop">
        <tr class="text-center">
            {% for day in daysOfWeek %}
                <th scope="col">{{ day | date('l d F Y')}}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for hours in calendar %}
            <tr>
                {% for hour in hours %}
                    <td>{{ hour | date('H:i') }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
