<form class="border border-light p-5" method="POST" action="/user/edit/{{ user.id }}">

    <p class="h4 mb-4 text-center noDisplay modal-title"></p>
    <div class="row">
        <div class="col-md-5 md-form">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" class="form-control {% if message.firstname is defined %}is-invalid {% endif %}" value="{% if postData.firstname is defined %}{{ postData.firstname }}{% else %}{{ user.firstname }}{% endif %}" required>
            {% if  message.firstname is defined %}
                <div class="invalid-feedback">
                    {{ message.firstname }}
                </div>
            {% endif %}
        </div>

        <div class="col-md-5 offset-2 md-form">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" class="form-control {% if message.lastname is defined %}is-invalid {% endif %}" value="{% if postData.lastname is defined %}{{ postData.lastname }}{% else %}{{ user.lastname }}{% endif %}" required>
            {% if  message.lastname is defined %}
                <div class="invalid-feedback">
                    {{ message.lastname }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4 md-form">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" class="form-control {% if message.email is defined %}is-invalid {% endif %}" value="{% if postData.email is defined %}{{ postData.email }}{% else %}{{ user.email }}{% endif %}" required>
            {% if  message.email is defined %}
                <div class="invalid-feedback">
                    {{ message.email }}
                </div>
            {% endif %}
        </div>

        <div class="col-12 mb-4 md-form">
            <label  for="password">Mot de passe</label>
            <input  type="password"  id="password" name="password" class="form-control  {% if message.password is defined %}is-invalid {% endif %}" required>
            {% if  message.password is defined %}
                <div class="invalid-feedback">
                    {{ message.password }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 md-form">
            <label  for="image">Image Link</label>
            <input  type="text"  id="image" name="image" class="form-control {% if message.image is defined %}is-invalid {% endif %}" value="{% if postData.image is defined %}{{ postData.image }}{% else %}{{ user.image }}{% endif %}" required>
            {% if  message.image is defined %}
                <div class="invalid-feedback">
                    {{ message.image }}
                </div>
            {% endif %}
        </div>

        <div class="col-md-5 offset-2">
            <label for="status">User Status</label>
            <select class="browser-default custom-select {% if message.status is defined %}is-invalid {% endif %}" id="status" name="status_id" required>
                <option disabled selected>Select a status</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            {% if  message.status is defined %}
                <div class="invalid-feedback">
                    {{ message.status }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-deep-orange" type="submit" >Edit user</button>
    </div>
</form>


